<a href="https://colab.research.google.com/github/jarektomczyk/projekt/blob/main/ML_projekt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [173]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_error

biblioteki

In [174]:
auto = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/merc.csv')
auto.head(5)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

sprawdzanie czy nie ma pustych komórek

In [175]:
auto.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [176]:
auto.drop('transmission', 1, inplace=True)
auto.drop('model', 1, inplace=True)
auto.drop('fuelType', 1, inplace=True)
auto.drop('engineSize', 1, inplace=True)
auto.drop('mpg', 1, inplace=True)
auto.drop('tax', 1, inplace=True)
auto

<ipython-input-176-06c35d55bc1e>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  auto.drop('transmission', 1, inplace=True)
<ipython-input-176-06c35d55bc1e>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  auto.drop('model', 1, inplace=True)
<ipython-input-176-06c35d55bc1e>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  auto.drop('fuelType', 1, inplace=True)
<ipython-input-176-06c35d55bc1e>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  auto.drop('engineSize', 1, inplace=True)
<ipython-input-176-06c35d55bc1e>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  auto.drop('mpg', 1, inplace=True)
<ipython-input-176-06c35d55bc1e>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  auto.drop('tax', 1, inplace=True)

       year  price  mileage
0      2005   5200    63000
1      2017  34948    27000
2      2016  49948     6200
3      2016  61948    16000
4      2016  73948     4000
...     ...    ...      ...
13114  2020  35999      500
13115  2020  24699     2500
13116  2019  30999    11612
13117  2019  37990     2426
13118  2019  54999     2075

[13119 rows x 3 columns]

podział na systemy test i trening

In [177]:
X = auto.drop('price', axis=1)
y = auto['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [178]:
len(y_train), len(y_test)

(10495, 2624)

In [179]:
model = KNeighborsClassifier(n_neighbors=4)

trening utworzonego modelu składającego się z 4 sąsiadów

In [180]:
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [181]:
y_pred = model.predict(X_test)

walidacja modelu

In [182]:
y_pred

array([18990, 20350, 22299, ..., 26049, 25499, 19899])

In [183]:
y_test.values

array([27698, 28590, 49990, ..., 24729, 31950, 25498])

sprawdzenie o ile model się pomylił

In [184]:
mean_absolute_error(y_test, y_pred)

7227.865472560976